nav {
    background-color: rgba(248, 216, 224, 0.733);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    height: 10%;
    top: 0;
    left: 0;
    right: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

nav button {
    width: 90px;
    height: 50px;
    background-color: #b30738;
    border: 1px dotted white;
    border-radius: 10px;
    color: white;
    margin: 5px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header {
    background-image: url('../assets/images/model2.jpg');
    /* background-image: url('../assets/images/foot1.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}


nav a {
    text-decoration: none;
    color: rgb(253, 249, 249);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px
    rgba(0, 0, 0, 0.5)

}

.list-items {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style-type: none;
}

.head-sec {
    display: flex;
    justify-content: space-between;
    background-color: rgba(39, 36, 36, 0.534);
    width: 75%;
    margin: auto;
    position: relative;
    top: 22%;
    /* margin-top: 10rem; */
}

.fash {
    display: flex;
    height: 20em;
    color: white;
}


.fash h1 {
    padding-left: 1.2em;
    font-size: 200px;
    margin-top: -10px;
}

.fash h3 {
    margin-top: 130px;
    font-size: 40px;
    height: 50px;
}

.fash h4 {
    margin-top: 180px;
    font-size: 35px;
    margin-left: -230px;
}

.fash h5 {
    margin-top: 220px;
    font-size: 65px;
    margin-left: -230px;
}

.head-btn {
    margin-top: 190px;
    margin-right: 30px;

}

.head-btn button {
    width: 140px;
    height: 60px;
    margin: 5px;
    border-radius: 7px;
    border: 1px dotted white;
    font-size: 20px;
    background-color: #9A1036;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main-sec {
    width: 100%;
    /* background-color:rgba(253, 68, 244, 0.171) */

}


/* .sec-img{
    width: 50%;
    height: 200px;
}  */
.sec-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 22px;
    width: 80%;
    margin: auto;
    margin-top: 5px;
}

.sec-img img {
    width: 100%;
    height: 60vh;
}

.sec-img button {
    width: 100px;
    height: 40px;
    margin: 5px;
    border: 10px solid white;
    border-radius: 2px;
    border: none;
    padding: 3px;
    background-color: #9A1036;
    color: white;
    font-weight: bold;

}

.emp-div {
    text-align: center;
    background-color: rgba(253, 68, 244, 0.384);
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-around;
    color: rgb(92, 91, 91);

}

.emp-div h4 {
    margin-top: 20px;

}

.last-sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 11px;
    grid-row-gap: 0px;
    width: 80%;
    height: 300px;
    font-size: small;
    margin: auto;
    background-color: rgb(51, 51, 51);
    padding: 60px;
    color: white;
    margin-top: 20px;
}

.tcont {
    display: flex;
    width: 100%;
    padding-top: 25px;
    /* height: 10px; */


}

.tcont img {
    width: 25%;
    height: 50px;
    margin-right: 18px;

}

.lastsec-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 13px;

}

.lastsec-buttons button {
    width: 80px;
    height: 40px;
    background-color: rgb(51, 51, 51);
    color: white;

}

.lastsec-p p {
    padding-top: 20px;
    line-height: 1.5;
}

ul {
    line-height: 2
}

.tag {
    margin-bottom: 9px;
}

.und {
    font-weight: bold;
    text-decoration: underline;
}

.main-footer {

    background-color: wheat;
    background-image: linear-gradient(rgba(17, 17, 17, 0.9), rgba(10, 4, 4, 0.9)), url('../assets/images/foot1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    background-color: rgba(253, 68, 244, 0.171);

}
.foot-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 14px;
    grid-row-gap: 13px;
    color: white;
    padding: 85px;
}

.foot-cont h3{
    font-size: 70px;
}
.foot-cont img{
    width: 200px; height: 200px;
}
.main-footer h5{
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
a{color: white;
    font-size: 15px;
    
}
 .foot-flex{
    line-height: 1.5;
    margin-left: 30px;
 }
 .foot-cont p{
    line-height: 1.5;
 }